@font-face {
    font-family: 'roboto_slablight';
    src: url('fonts/robotoslab-light-webfont.eot');
    src: url('fonts/robotoslab-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/robotoslab-light-webfont.woff') format('woff'),
         url('fonts/robotoslab-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_serifitalic';
    src: url('fonts/pt_serif-web-italic-webfont.eot');
    src: url('fonts/pt_serif-web-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pt_serif-web-italic-webfont.woff2') format('woff2'),
         url('fonts/pt_serif-web-italic-webfont.woff') format('woff'),
         url('fonts/pt_serif-web-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansLight';
    src: url('fonts/OpenSans-Light.eot');
    src: url('fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Light.woff') format('woff'), url('fonts/OpenSans-Light.ttf') format('truetype'), url('fonts/OpenSans-Light.svg#webfont') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans-ExtraBold.eot');
    src: url('fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-ExtraBold.woff') format('woff'), url('fonts/OpenSans-ExtraBold.ttf') format('truetype'), url('fonts/OpenSans-ExtraBold.svg#webfont') format('svg');
    font-weight: bold;
    font-style: normal;
}
*{
	margin: 0;
	padding:0;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
	font-family: "roboto_slablight",Arial;
	font-size: 100%;
}
ul {
	list-style-type: none;
}
a{
	text-decoration: none;
	color: #ffffff;
}

h1{
	font-family: "roboto_slablight";
	font-weight: normal;
}
.g-clear {
    zoom: 1;
}
.g-clear:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.cols {
    position: relative;
    clear: both;
    padding-bottom: 1px;
}
.cols:after {
    clear: both;
    display: table;
    content: '';
}
.col {
    position: relative;
    float: left;
    min-height: 1px;
}
.col_5 {
    width: 5%;
}
.col_10 {
    width: 10%;
}
.col_12 {
    width: 12%;
}
.col_15 {
    width: 15%;
}
.col_17 {
    width: 17%;
}
.col_20 {
    width: 20%;
}
.col_22 {
    width: 22%;
}
.col_25 {
    width: 25%;
}
.col_30 {
    width: 30%;
}
.col_33 {
    width: 33.3%;
}
.col_35 {
    width: 35%;
}
.col_40 {
    width: 40%;
}
.col_45 {
    width: 45%;
}
.col_50 {
    width: 49.9%;
}
.col_60 {
    width: 60%;
}
.col_70 {
    width: 70%;
}
.col_80 {
    width: 80%;
}
.col_right {
    float: right;
}
.wrapper{
	width:100%;
	height: 100%;
	min-height: 768px;
	max-height: 800px;
	min-width: 1280px;
	max-width: 1920px;
	position: relative;
}
.layer{
	width: 1200px;
	padding: 1px 25px;
	line-height: 1.5;
	position: relative;
	margin: 0 auto;
}
.layer_header{
	padding-top: 1.688em;
}

/*Block1*/
.block1{
	background: url("block_main.png") no-repeat;
	background-size: 100% 100%; 
}

.block2{
	background: url("block_emotion.png") no-repeat;
	background-size: 100% 100%;
}
.block3{
	background: url("block_sv.png") no-repeat;
	background-size: 100% 100%;
}
.block4{
	background:#f1efed;
	background-size: 100% 100%;
}
.block5{
	background: #b4bfc0;
	background-size: 100% 100%;
}
.block6{
	background: #fff;
	background-size: 100% 100%;
}
.block7{
	background: #000;
	background-size: 100% 100%;
}
#logo{
	background: url("logo.png") no-repeat;
	width: 395px;
	height: 35px;
	margin: 0 auto;
}
#menu{
	padding-top: 2.375em;
	width: 68%;
	margin: 0 auto;
}
#menu a{
	text-decoration: none;
}
#menu .navigation_item{
	font-family: "OpenSansLight";
	font-size: 80%;
	text-transform: uppercase;
	letter-spacing: 0.188em;
	margin-right:1.563em; 
	line-height: 1.615;
  	text-align: left;
}
.test{
position: relative;
height: 641px;
	width: 771px;
}
/*&&&&&&&&&&&*/

/*@media all and (min-width: 1366px){
	.svetlakov_block1{
		background:url("1.png") no-repeat;
		position: relative;
		 background-size: 50% 50%; 
		width:449px;
		height: 600px;
		/* max-width: 100%; */
		/* height: auto; */
	/*	bottom: 182px;
		left: 7%;
	}
}*/
.svetlakov_block1{
	background: url("1.png") no-repeat;
	position: absolute;
	width: 908px;
	height: 773px;
	bottom: 0;
	left: 0;
}

.svetlakov_block2{
	background: url("2.png") no-repeat;
	position: absolute;
	width: 672px;
	height: 684px;
	bottom:0;
	/*float: right;*/
}
.svetlakov_block3{
	background: url("3.png") no-repeat;
	position: absolute;
	width: 900px;
	height: 773px;
	top: 0;
	left: 0;
}
.svetlakov_block4{
	background: url("4.png") no-repeat;
	position: relative;
	width: 378px;
	height: 780px;
	bottom: 182px;
	float: right;
}
.svetlakov_block5{
	background: url("5.png") no-repeat;
	position: relative;
	width: 824px;
	height: 780px;
	bottom: 182px;
	float: left;
}
@media screen and (max-width: 1366px) and (min-width: 1280px) {
	.svetlakov_block1{
		background-size: 96%;
		width: 65%;
		float: left;
		left: -85px;
		bottom: -125px;
		position: absolute;
	}
	.svetlakov_block3{
		background-size: 85%;
		width: 65%;
		float: left;
		left: -85px;
		top: 156px;
		position: absolute;
	}
	.svetlakov_block4{
		background-size: 100%;
		right: 0;
		top: 0;
		position: absolute;
	}
	.svetlakov_block5{
		background-size: 85%;
		width: 65%;
		float: left;
		left: 0;
		top: 156px;
		position: absolute;
	}
}
@media screen and (min-width: 1366px) and (max-width: 1920px) {
	.svetlakov_block1{
		background-size: 75%;
		width: 65%;
		float: left;
		left: -85px;
		bottom: 0px;
		position: absolute;
	}
	.svetlakov_block3{
		background-size: 75%;
		width: 65%;
		float: left;
		left: 0px;
		top: 168px;
		position: absolute;
	}
	.svetlakov_block4{
	background-size: 100%;
	float: right;
	right: 0px;
	top: 0px;
	position: absolute;
	}
	.svetlakov_block5{
		background-size: 74%;
		width: 74%;
		float: left;
		left: 52px;
		bottom: 0px;
		position: absolute;
	}	
}
@media screen and  (max-width: 1280px) {
	.svetlakov_block1{
		background-size: 84%;
		width: 76%;
		float: left;
		left: -104px;
		bottom: -135px;
		position: absolute;
	}
	.svetlakov_block3{
     	background-size: 64%;
		width: 76%;
		float: left;
		left: 0px;
		top: 239px;
		position: absolute;
	}
	.svetlakov_block4{
     	background-size: 100%;
		right: 0px;
		top: 0px;
		position: absolute;
	}
	.svetlakov_block5{
		background-size: 64%;
		width: 76%;
		float: left;
		left: 50px;
		top: 180px;
		position: absolute;
	}
}

.svetlakov_block2{
	background: url("2.png") no-repeat;
	position: relative;
	/* background-size: 100% 100%; */
	width: 672px;
	height: 684px;
	/* max-width: 100%; */
	/* height: auto; */
	bottom: 163px;
	float: right;
}




.text_block{
	display: block;
	position: relative;
	width: 42%;
	text-align: center;
	margin: 0 auto;
	padding-top: 2em
}
.text_block span{
	font-size: 2.188em;
	color: #ffffff;
	text-align: center;
	line-height: 1.257;
}

.text_block_emotion{
	width: 59%;
	color: #5c616a;
	position: relative;
	top: 272px;
	left: 71px;

}
.text_block_emotion h1{
	padding-bottom: 17px;
	font-size: 259%;
}
.text_block_emotion span{
	font-family: "pt_serifitalic";
	font-size: 131%;
	width: 91%;
	display: inline-block;
	color: #5c616a;
}
.layer_emotion{
	padding: 17em;
	padding-left:18.5em;
}
.text_block_video{
	width: 52%;
	position: relative;
	top: 0;
	padding-top: 184px;
	left: 561px;
}
.text_block_video h1{
	font-size: 223%;
	color: #ffffff;
	line-height: 48.2px;
	padding-bottom: 18px;
}
.text_block_video .label_new_year{
	background: url("ng_bg.png") no-repeat;
	width: 83%;
	/* margin: 0 auto; */
	height: 79px;
	color: #fff;
	font-size: 35px;
	font-family: "roboto_slablight";
	font-weight: normal;
	display: block;
	position: relative;
	right: 36px;
	top: -7px;
	text-align: center;
	margin-bottom: 2px;
}
.text_block_video span{
	font-family: "pt_serifitalic";
	font-size: 131%;
	color: #ffffff;
	font-weight: normal;
	width: 82%;
	display: inline-block;
}
.label_new_year{
	background: url("ng_bg.png") no-repeat;
	width: 40%;
	height: 79px;
	color: #fff;
	font-size: 0.8em;
	font-weight: normal;
	display: block;
	position: absolute;
	right: 15px;
	top: 58px;
}
.test3{
	background:#005163;
	width:100%;
	/*min-width: 1280px;*/
	height: 750px;
}
.layer_video{
	padding-top: 15em;
	padding-left: 29em;
}

.test4{
	background:#f3f2f1;
	width:100%;
	/*min-width: 1280px;*/
	height: 750px;
}
.text_block_celebrity{
	width: 58%;
	position: relative;
	top: 290px;
	left: 0px;
}
.text_block_celebrity h1{
	font-size: 270%;
	color: #5c616a;
	text-align: left;
	margin-bottom: 16px;
}
.text_block_celebrity span{
	color: #5c616a;
	font-size: 133%;
	font-family: "pt_serifitalic";

}
.test5{
	background:#b5c0c1;
	width:100%;
	/*min-width: 1280px;*/
	height: 750px;
}
.text_block_sv{
	width: 50%;
	position: relative;
	top: 292px;
	left: 522px;
}
.text_block_sv h1{
	font-size: 270%;
	color: #fff;
	text-align: left;
	margin-bottom: 15px;
}
.text_block_sv span{
	color: #fff;
	font-size: 133%;
	font-family: "pt_serifitalic";
	width: 89%;
	display: inline-block;


}
.test6{
	background:#fff;
	width:100%;
	/*min-width: 1280px;*/
	height: 750px;	
}
.text_block_master{
	width: 49%;
	position: relative;
	top: 252px;
	left: 0px;
}
.text_block_master h1{
	font-size: 270%;
	color: #5c616a;
	text-align: left;
	margin-bottom: 15px; 
}
.text_block_master span{
	color: #5c616a;
	font-size: 133%;
	font-family: "pt_serifitalic";
	display: inline-block;
	margin-bottom: 30px;
}
.test7{
	background:#000;
	width:100%;
	/*min-width: 1280px;*/
	height: 723px;
}
.block_contacts{
	width: 27%;
margin: 0 auto;
color: #fff;
font-family: "OpenSans";
position: relative;
top: 290px;
left: 1px;
}
.block_contacts span{
	font-size: 155%;
	width: 67%;
	margin: 0 auto;
	display: block;
}
.block_contacts .block_email{
	font-size:100% ;
	margin-bottom: 3em;
}
.block_main{
	width: 308px;
	height: 78px;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
}
.block_main .mail{ 
	display: inline-block;
	border-left: 1px solid #fff;
	width:78px;
	height: 78px;
	margin-left: 3em;
}
.block_main .mail:before{
	content: "";
	display: block;
	background: url("sprite.png") no-repeat -4px -1px;
	width: 31px;
	height: 31px;
	position: relative;
	top: 20px;
	left: 28px;
}
.block_main .phone{ 
	display: inline-block;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	width:78px;
	height: 78px;
}
.block_contacts .block_phone{
	margin-bottom:1em; 
}
.block_main .phone:before{
	content: "";
	display: block;
	background: url("sprite.png") no-repeat  -35px -3px;
	width: 31px;
	height: 31px;
	position: relative;
	top: 20px;
	left: 28px;
}
.text_block_master .button{
	font-family: "OpenSansLight";
	font-size: 1.01em;
	text-transform: uppercase;
	width: 220px;
	height: 60px;
	background: #e74c3c;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	padding: 1em 3.7em;
}


    
/*main menu*/
.layer-wrapper_fixed-top {
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    background: #FFF;
}
.layer-wrapper_fixed-top ul {
	padding: 0;
	margin: 0;
	display: block;
	margin: 14px auto;
	width: 900px;
}
.layer-wrapper_fixed-top li{
    display: inline;
    list-style:none;
    margin: 5px 7px;
}
.layer-wrapper_fixed-top li a {
	margin: 0 10px;
	padding-bottom: 16px;
	font-family: "OpenSansLight";
	color: #A2A6AE;
	letter-spacing: 2px;
	font-size: 13px;
	text-decoration: none;
	font-weight: bold;
}

.default {
    display:none;
}
.default ul {
    display:none;
}
.layer-sub-navigation #logo_bubble,.layer-sub-navigation .g-clear{
	height:0px;
}
.layer-wrapper_fixed-top #logo_bubble,.layer-wrapper_fixed-top .g-clear{
		height:auto;
}
.fixed {
    position:fixed;
    top:-5px;
	left:0;
	width:100%;
	background-color: #FFF;
    padding:10px 0;
	z-index:9999;
}
#logo_bubble{
	margin: 37px auto 23px auto;
}

  
.signature{
	position: relative;
width: 47.63%;
margin: 0 auto;
bottom: 0;
top: 128px;
font-family: "OpenSansLight";
font-size: 82%; 

}

.layer-wrapper_fixed-top {
position: fixed;
width: 100%;
top: 0;
background: #FFF;
opacity: 0.9;
z-index: 100;
-webkit-transition-property: background;
-webkit-transition-duration: 0.3s;
-webkit-transition-timing-function: ease-out;
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
behavior: url(/themes/default/css/PIE.htc);
}
.layer-wrapper_fixed-top a{
 color:black;
}
.g-clear .col{
	float:none;
}
.navigation__item_selected a{
	border-bottom:2px solid #e74c3c;
}
  

