@font-face {
    font-family: 'roboto_slablight';
    src: url('fonts/robotoslab-light-webfont.eot');
    src: url('fonts/robotoslab-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/robotoslab-light-webfont.woff') format('woff'),
         url('fonts/robotoslab-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_serifitalic';
    src: url('fonts/pt_serif-web-italic-webfont.eot');
    src: url('fonts/pt_serif-web-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pt_serif-web-italic-webfont.woff2') format('woff2'),
         url('fonts/pt_serif-web-italic-webfont.woff') format('woff'),
         url('fonts/pt_serif-web-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansLight';
    src: url('fonts/OpenSans-Light.eot');
    src: url('fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Light.woff') format('woff'), url('fonts/OpenSans-Light.ttf') format('truetype'), url('fonts/OpenSans-Light.svg#webfont') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans-ExtraBold.eot');
    src: url('fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-ExtraBold.woff') format('woff'), url('fonts/OpenSans-ExtraBold.ttf') format('truetype'), url('fonts/OpenSans-ExtraBold.svg#webfont') format('svg');
    font-weight: bold;
    font-style: normal;
}
*{
	margin: 0;
	padding:0;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
    height:100%;
  }
body{
	font-family: "roboto_slablight",Arial;
	font-size: 100%;
	/*min-width: 1280px;*/
}
ul {
	list-style-type: none;
}
a{
	text-decoration: none;
	color: #ffffff;
}

h1{
	font-family: "roboto_slablight";
	font-weight: normal;
}
.g-clear {
    zoom: 1;
}
.g-clear:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.cols {
    position: relative;
    clear: both;
    padding-bottom: 1px;
}
.cols:after {
    clear: both;
    display: table;
    content: '';
}
.col {
    position: relative;
    float: left;
    min-height: 1px;
}
.col_5 {
    width: 5%;
}
.col_10 {
    width: 10%;
}
.col_12 {
    width: 12%;
}
.col_15 {
    width: 15%;
}
.col_17 {
    width: 17%;
}
.col_20 {
    width: 20%;
}
.col_22 {
    width: 22%;
}
.col_25 {
    width: 25%;
}
.col_30 {
    width: 30%;
}
.col_33 {
    width: 33.3%;
}
.col_35 {
    width: 35%;
}
.col_40 {
    width: 40%;
}
.col_45 {
    width: 45%;
}
.col_50 {
    width: 49.9%;
}
.col_60 {
    width: 60%;
}
.col_70 {
    width: 70%;
}
.col_80 {
    width: 80%;
}
.col_right {
    float: right;
}
.wrapper{
	/*width:100%;
	height: 100%;
	min-height: 768px;
	max-height: 800px;
	min-width: 1280px;
	max-width: 1980px;*/
	position: relative;
}
.layer{
	width: 1200px;
	padding: 1px 25px;
	line-height: 1.5;
	position: relative;
	margin: 0 auto;
}
.layer_header{
	padding-top: 1.688em;
}
.scroll_down {
	display: block;
width: 111px;
position: absolute;
bottom: 0;
left: 47%;
/* margin-left: 20px; */
font-size: 70%;
letter-spacing: 1px;
margin: 0 auto;
cursor: pointer;
z-index: 1000;
text-align: center;
text-transform: uppercase;
/* margin-top: 77px;*/
}
.scroll_down:before{
	content: "";
	display: block;
	background: url("sprite.png") no-repeat -157px 1px;
	width: 28%;
	height: 57px;
	position: relative;
	left: 50%;
	margin-bottom: 9px;
	margin-left: -22px;
}

.scroll_down:after{
	content: "";
	display: block;
	background: url("sprite.png") no-repeat -157px -93px;
	width: 34px;
	height: 28px;
	position: relative;
	left: 30%;
	margin-top:10px;
}
.video__link-white{
	width: 100%;
	top: 50px;
	left: 20%;
	margin: 0 auto;
	display: block;
	z-index: 1000;
	position: relative;
}
.video__link-white:before{
	content: '';
	display: block;
	background: url("play.png") no-repeat center;
	width: 110px;
	height: 110px;
	position: relative;
	top: 0px;
	cursor: pointer;
}
/* iPad в книжной ориентации  ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.video__link-white{
	width: 59%;
	top: -10px;
	left:20%;
	margin: 0 auto;
	display: block;
	z-index: 1000;
	position: relative;
}
.video__link-white:before{
	content: '';
	display: block;
	background: url("play.png") no-repeat center;
	width: 110px;
	height: 110px;
	position: relative;
	top: 0px;
	cursor: pointer;
}
}
 
/*Block1*/
.block1{
	background:#720216  url("block_main.jpg") no-repeat;
	background-size: 100% 100%; 
}

.block2{
	background: #eceae7 url("block_emotion.jpg") no-repeat;
	background-size: 100% 100%;
}
.block3{
	background: #014556 url("block_sv.jpg") no-repeat;
	background-size: 100% 100%;
}
.block4{
	background:#f1efed;
	background-size: 100% 100%;
}
.block5{
	background: #b4bfc0;
	background-size: 100% 100%;
}
.block6{
	background: #fff;
	background-size: 100% 100%;
}
.block7{
	background: #000;
	width: 100%;
	height: 100%;
}
#logo{
	background: url("logo.png") no-repeat;
	width: 395px;
	height: 35px;
	margin: 0 auto;
}
#menu{
	padding-top: 2.375em;
	width: 68%;
	margin: 0 auto;
	position: relative;
	z-index: 10000;
}
#menu a{
	text-decoration: none;
}
#menu .navigation_item{
	font-family: "OpenSansLight";
	font-size: 80%;
	text-transform: uppercase;
	letter-spacing: 0.188em;
	margin-right:1.563em; 
	line-height: 1.615;
  	text-align: left;
}
.test{
position: relative;
height: 641px;
	width: 771px;
}
/*&&&&&&&&&&&*/

/*@media all and (min-width: 1366px){
	.svetlakov_block1{
		background:url("11.png") no-repeat;
		position: relative;
		 background-size: 50% 50%; 
		width:449px;
		height: 600px;
		/* max-width: 100%; */
		/* height: auto; */
	/*	bottom: 182px;
		left: 7%;
	}
}*/
.svetlakov_block1{
	background: url("11.png") no-repeat;
	position: absolute;
	width: 908px;
	height: 773px;
	bottom: 0;
	left: 0;
}

.svetlakov_block2{
	background: url("2.png") no-repeat;
	position: absolute;
	height: 50%;
	width: 672px;
	height: 684px;
	bottom: 0;
	right: 0;
	/* float: right; */
}
.svetlakov_block3{
	background: url("3.png") no-repeat;
	position: absolute;
	width: 900px;
	height: 773px;
	top: 0;
	left: 0;
}
.svetlakov_block4{
	background: url("4.png") no-repeat;
	position: relative;
	width: 378px;
	height: 780px;
	bottom: 182px;
	float: right;
}
.svetlakov_block5{
	background: url("5.png") no-repeat;
	position: relative;
	width: 824px;
	height: 780px;
	bottom: 182px;
	float: left;
}
.microphone_big{
	background: url("6.png") no-repeat;
	position: absolute;
	top:0;
	right: 0;
	width: 808px;
	height: 780px;
}
.microphone_small{
	background: url("7.png") no-repeat;
	position: absolute;
	bottom:0;
	right: 0;
	width: 583px;
	height: 438px;
}



@media screen and (min-width: 1600px) and (max-width: 1920px){
	.svetlakov_block1{
		background-size: 91%;
		width: 54%;
		height: 80%;
		float: left;
		left: -85px;
		bottom: 0;
		position: absolute;
	}
	.svetlakov_block2{
		background-size: 100%;
		width: 41%;
		height: 77%;
		/* float: left; */
		right: 0;
		bottom: 0;
		position: absolute;
	}
	.svetlakov_block3{
		background-size: 75%;
		width: 65%;
		float: left;
		left: 0px;
		top: 179px;
		position: absolute;
	}
	.svetlakov_block4{
	background-size: 100%;
	float: right;
	right: 0px;
	top: 0px;
	position: absolute;
	}
	.svetlakov_block5{
		background-size: 74%;
		width: 74%;
		height: 96%;
		float: left;
		left: 52px;
		bottom: 0px;
		position: absolute;
	}	
}
@media screen and (max-width: 1600px) and (min-width: 1400px) {
	.svetlakov_block1{
		background-size: 94%;
		width: 54%;
		height: 76%;
		float: left;
		left: -85px;
		bottom: 0;
		position: absolute;
	}
	.svetlakov_block2{
		background-size: 100%;
		width: 41%;
		height: 77%;
		/* float: left; */
		right: 0;
		bottom: 0;
		position: absolute;
	}
	.svetlakov_block3{
		background-size: 75%;
		width: 65%;
		float: left;
		left: 0px;
		top: 179px;
		position: absolute;
	}
	.microphone_big{
		background-size: 100%;
		width: 796px;
		height: 768px;
		position: absolute;
		/* top: 124px; */
		right: 0;
	}
}
.text_block{
	display: block;
	position: relative;
	width: 42%;
	text-align: center;
	margin: 0 auto;
	padding-top: 2em
}
.text_block span{
	font-size: 2.188em;
	color: #ffffff;
	text-align: center;
	line-height: 1.257;
}

.text_block_emotion{
	width: 59%;
	color: #5c616a;
	position: relative;
	top: 272px;
	left: 71px;

}
.text_block_emotion h1{
	padding-bottom: 17px;
	font-size: 259%;
}
.text_block_emotion span{
	font-family: "pt_serifitalic";
	font-size: 131%;
	width: 91%;
	display: inline-block;
	color: #8d9096;
}
.layer_emotion{
	padding: 17em;
	padding-left:18.5em;
}
.text_block_video{
	width: 52%;
	position: relative;
	top: 0;
	padding-top: 120px;
	left: 561px;
	z-index: 1000;
}
.text_block_video h1{
	font-size: 223%;
	color: #ffffff;
	line-height: 48.2px;
	padding-bottom: 18px;
}
.text_block_video .label_new_year{
	background: url("ng_bg.png") no-repeat;
	width: 83%;
	/* margin: 0 auto; */
	height: 79px;
	color: #fff;
	font-size: 35px;
	font-family: "roboto_slablight";
	font-weight: normal;
	display: block;
	position: relative;
	right: 36px;
	top: -7px;
	text-align: center;
	margin-bottom: 2px;
}
.text_block_video span{
	font-family: "pt_serifitalic";
	font-size: 131%;
	color: #ffffff;
	font-weight: normal;
	width: 82%;
	display: inline-block;
}
.label_new_year{
	background: url("ng_bg.png") no-repeat;
	width: 40%;
	height: 79px;
	color: #fff;
	font-size: 0.8em;
	font-weight: normal;
	display: block;
	position: absolute;
	right: 15px;
	top: 58px;
}
.test3{
	background:#005163;
	width:100%;
	/*min-width: 1280px;*/
	height: 750px;
}
.layer_video{
	padding-top: 15em;
	padding-left: 29em;
}

.test4{
	background:#f3f2f1;
	width:100%;
	/*min-width: 1280px;*/
	height: 750px;
}
.text_block_celebrity{
	width: 58%;
	position: relative;
	top: 290px;
	left: 0px;
}
.text_block_celebrity h1{
	font-size: 270%;
	color: #5c616a;
	text-align: left;
	margin-bottom: 16px;
}
.text_block_celebrity span{
	color: #8d9096;
	font-size: 133%;
	font-family: "pt_serifitalic";

}
.test5{
	background:#b5c0c1;
	width:100%;
	/*min-width: 1280px;*/
	height: 750px;
}
.text_block_sv{
	width: 50%;
	position: relative;
	top: 283px;
	left: 616px;
	z-index: 1000;
}
.text_block_sv h1{
	font-size: 270%;
	color: #fff;
	text-align: left;
	margin-bottom: 15px;
}
.text_block_sv span{
	color: #fff;
	font-size: 133%;
	font-family: "pt_serifitalic";
	width: 89%;
	display: inline-block;


}
.test6{
	background:#fff;
	width:100%;
	/*min-width: 1280px;*/
	height: 750px;	
}
.text_block_master{
	width: 49%;
	position: relative;
	top: 252px;
	left: 0px;
}
.text_block_master h1{
	font-size: 270%;
	color: #5c616a;
	text-align: left;
	margin-bottom: 15px; 
}
.text_block_master span{
	color: #8d9096;
	font-size: 133%;
	font-family: "pt_serifitalic";
	display: inline-block;
	margin-bottom: 30px;
}
.test7{
	background:#000;
	width:100%;
	/*min-width: 1280px;*/
	height: 723px;
}
.block_contacts{
width: 27%;
margin: 0 auto;
color: #fff;
font-family: "OpenSans";
position: absolute;
/* top: 290px; */
margin-left: -14%;
left: 50%;
bottom: 0;
}
.block_contacts span{
	font-size: 155%;
	width: 69%;
	margin: 0 auto;
	display: block;
}
.block_contacts .block_email{
	font-size:100% ;
	margin-bottom: 3em;
	width:80%;
}
.block_main{
	width: 28%;
	margin: 0 auto;
	height: 78px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	opacity: 0.2;
}
.block_main .mail{ 
	display: inline-block;
	border-left: 1px solid #fff;
	width:78px;
	height: 78px;
	margin-left: 3em;
}
.mail_ico{
	display: block;
	background: url("sprite.png") no-repeat -4px -1px;
	width: 31px;
	height: 31px;
	margin: 0 auto;
	position: absolute;
	top: 154px;
	right: 50%;
	margin-right: 21px;
}
/*.block_main .mail:before{
	content: "";
	display: block;
	background: url("sprite.png") no-repeat -4px -1px;
	width: 31px;
	height: 31px;
	position: relative;
	top: 20px;
	left: 28px;
}*/
.block_main .phone{ 
	display: inline-block;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	width:78px;
	height: 78px;
}
.block_contacts .block_phone{
	margin-bottom:1em; 
}
/*.block_main .phone:before{
	content: "";
	display: block;
	background: url("sprite.png") no-repeat  -35px -3px;
	width: 31px;
	height: 31px;
	position: relative;
	top: 20px;
	left: 28px;
}*/
.phone_ico{
	display: block;
	background: url("sprite.png") no-repeat -35px -3px;
	width: 31px;
	height: 31px;
	margin: 0 auto;
	position: relative;
	top: -61px;
	left: 40px
}
.text_block_master .button{
	font-family: "OpenSansLight";
	font-size: 1.01em;
	text-transform: uppercase;
	width: 220px;
	height: 60px;
	background: #FF2E19;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	padding: 1em 3.7em;
	letter-spacing: 1px;
}


    
/*main menu*/
.layer-sub-navigation{
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    background: #FFF;
}
.layer-sub-navigation ul {
	padding: 0;
	margin: 0;
	display: block;
	margin: 14px auto;
	width: 84%;
}
.layer-sub-navigation li{
    display: inline;
    list-style:none;
    margin: 5px 0px;
}
.layer-sub-navigation li a {
	margin: 0 10px;
	padding-bottom: 16px;
	font-family: "OpenSansLight";
	color: #A2A6AE;
	letter-spacing: 2px;
	font-size: 13px;
	text-decoration: none;
	font-weight: bold;
}



.layer-sub-navigation #logo_bubble,.layer-sub-navigation .g-clear{
		height:auto;
}
.fixed {
    position:fixed;
    top:-5px;
	left:0;
	width:100%;
	background-color: #FFF;
    padding:10px 0;
	z-index:9999;
}
#logo_bubble{
	margin: 23px auto 13px auto;
}

  
.signature{
	position: relative;
	width: 47.63%;
	margin: 0 auto;
	bottom: 20px;
	/*top: 128px;*/
	font-family: "OpenSansLight";
	font-size: 82%; 
	padding-top: 18em;
}

.layer-sub-navigation {
	position: fixed;
	width: 100%;
	background: #FFF;
	opacity: 0.9;
	z-index: 10000;
	top:-162px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
	behavior: url(/themes/default/css/PIE.htc);
	
	
}
.layer-sub-navigation a{
	color:black;
}
/*.g-clear .col{
	float:none;
}*/
.navigation__item_selected a{
	border-bottom:2px solid #e74c3c;
}
.layer-sub-navigation .col {
	position: relative;
	float: none;
	min-height: 1px;
}
.text_block {
	display: block;
	position: relative;
	width: 42%;
	top: 100px;
	text-align: center;
	margin: 0 auto;
	padding-top: 2em;
	z-index: 1000;
}

.navigation__item_selected.link-selected a{
	color:#000;
	
}
    .contacts{
		width: 30%;
		margin: 118px auto 0;
    }
    .contacts span{
		display: block;
		font-size: 80%;
		font-family: "OpenSans";
		padding-left: 30px;
    }
    .contacts hr{
    	color: #fffFFF;
width: 103%;
opacity: 0.3;
position: relative;
/*top: -41px;*/

    }
	.contacts .phone{
		font-size: 148%;
		padding-bottom: 2px;
		padding-top: 18px;
		padding-left: 30px;
	}
	.contacts .mail{
		font-size: 80%;
		
	}
	.contacts .phone a:before{
		display: inline-block;
		content: '';
		background: url("sprite.png") no-repeat -35px -3px;
		width: 31px;
		height: 31px;
		position: relative;
		margin-right: 13px;
	}
	.contacts .mail a:before{
		display: inline-block;
		content: '';
		background: url("sprite.png") no-repeat -4px -1px;
		position: relative;
		width: 31px;
		height: 31px;
		top: 7px;
		margin-right: 18px;
	}




@media screen and (max-height:800px){
.text_block {
		top: 5px;
		width: 37%;
	}

	.contacts{
		margin: 5px auto 0;
    }
    .text_block span{
    	font-size: 2em;
    }
    .video__link-white:before{
    	background: url("play.png") no-repeat center;
		background-size: 76%;
		width: 100px;
		height: 90px;
		position: absolute;
		top: -36px;
		left: 60px;
    }

}
@media screen and (max-height:1024px) and (min-height:800px){

	.video__link-white:before{
	  
		margin-left: 13px;
	}
}
@media screen and (min-height:768px) and (max-height:790){
	.text_block {
		top: 165px;
	}
	.contacts{
		margin: 75px auto 0;
    }

    .video__link-white:before{
    	background: url("play.png") no-repeat top center;
		background-size: 85%;
		width: 100px;
		height: 90px;
		position: absolute;
		top: -64px;
		left: 17px;
    }
}
@media screen and (max-width: 1024px) and (max-height: 768px){
	
}

@media screen and (max-width: 1024px){
	body{
		/*min-width: 1024px;*/
	}
	.wrapper{
		/*min-width: 1024px;
		max-width: 1024px;
		width: 100%;
		min-height: 768px;
		max-height: 800px;
		height: 100%;*/		
	}
	.layer{
		width: 980px;
	}
	#menu{
		width: 67%;
	}
	#menu .navigation_item{
		font-size: 70%;
		margin-right: 0.563em;
		letter-spacing: 0.188em;
	}
	.text_block {
		width: 37%;
		top: 50px;
	}
	.text_block span {
		font-size: 168%;
	}
	.svetlakov_block1{
		background-size: 95%;
		width: 56%;
		height: 81%;
		float: left;
		left: -85px;
		bottom: -183px;
		position: absolute;
	}
	.layer-sub-navigation ul{
		width: 93%;
	}
	.layer-sub-navigation li a{
		margin: 0 9px;
	}
	.microphone_small{
		background-size: 100%;
		width: 38%;
		height:37%;
		position: absolute;
		bottom: 0px;
		right: 0;
	}
	.scroll_down{
		width: 12%;
		opacity: 0.6;
		margin-top: 123px;
		margin-left: -25px;
	}
	.scroll_down:after{
		/*bottom: -337px;*/
		/*background-size: 90% 90%;*/
	}
	.scroll_down:before{
		/*background-size: 90% 90%;*/
	}
	.video__link-white{
		width: 12%;
		bottom: 59px;
	}

	.video__link-white:before {
		background: url("play.png") no-repeat center;
		background-size: 85%;
		width: 100px;
		height: 90px;
		position: absolute;
		top: 19px;
		left: -96px;
	}
	.text_block_emotion span{
		font-size: 108%;
		width: 86%;
	}
	.text_block_emotion h1{
		padding-bottom: 12px;
		font-size: 195%;
	}
	.svetlakov_block2{
		background-size: 100%;
		width: 48%;
		height: 78%;
	}
	.svetlakov_block3 {
		background-size: 99%;
		width: 53%;
		float: left;
		left: 0px;
		top: 312px;
		position: absolute;
	}
	.text_block_video {
		width: 40%;
		/*left: 479px;*/
	}
	.text_block_video span{
		font-size: 109%;

	}
	.text_block_video h1{
		font-size: 177%;
		color: #ffffff;
		line-height: 37.2px;
		padding-bottom: 13px;
	}
	.text_block_video .label_new_year{
		font-size: 164%;
		background-size: 96%;
		width: 108%;
		margin-bottom: -20px;
	}
	.svetlakov_block4{
		background-size: 100%;
	}
	.text_block_celebrity h1{
		font-size: 246%;
	}
	.text_block_celebrity span{
		font-size: 122%;
	}
	.svetlakov_block5 {
		background-size: 74%;
		width: 76%;
		float: left;
		left: 50px;
		top: 225px;
		position: absolute;
	}
	.text_block_sv h1{
		font-size: 214%;
		margin-bottom: 7px;

	}
	.text_block_sv span{
		width: 97%;
		font-size: 110%;
	}
	.text_block_sv{
		left: 488px;
		top: 329px;
	}
	.microphone_big{
		background-size: 100%;

	}
	.text_block_master h1{
		font-size: 247%;
		margin-bottom: 2px;
	}
	.block_contacts{
		width: 34%;
	}
	.contacts{
		width: 33%;
		margin: 60px auto 0;
    }
    .contacts span{
		display: block;
		font-size: 80%;
		font-family: "OpenSans";
		padding-left: 30px;
    }
    .contacts hr{
    	color: #fffFFF;
		width: 103%;
		opacity: 0.3;
		position: relative;
    }
	.contacts .phone{
		font-size: 128%;
		padding-bottom: 2px;
		padding-top: 18px;
		padding-left: 30px;
	}
	.contacts .mail{
		font-size: 73%;
	}
}

/*@media screen and (max-width: 1300px) {
	.text_block {
		top: 16px;
	}
	.contacts{
		margin: 27px auto 0;
    }
    .text_block span{
    	font-size: 2em;
    }
    .video__link-white:before{
    	background: url("play.png") no-repeat center;
		background-size: 85%;
		width: 100px;
		height: 90px;
		position: absolute;
		top: -85px;
		left: 17px;
    }
}
*/
/*@media screen and (max-width: 1366px) and (min-width: 1280px) {
	.text_block {
		top: 5px;
		width: 37%;
	}

	.contacts{
		margin: 5px auto 0;
    }
    .text_block span{
    	font-size: 2em;
    }
    .video__link-white:before{
    	background: url("play.png") no-repeat center;
		background-size: 76%;
		width: 100px;
		height: 90px;
		position: absolute;
		top: -85px;
		left: 17px;
    }
}


*/
.block_email a:hover{
	text-decoration: underline;
}

/*popup*/
.page-fader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1000;
    opacity: 0.65;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
    filter: alpha(opacity=65);
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
.page-fader_transparent {
    background: transparent;
}
.popup-container {
    width: 75%;
    min-width: 750px;
    max-width: 900px;
    min-height: 450px;
    margin: auto;
    position: fixed;
    z-index: 10001;
    left: 0;
    right: 0;
    top: 100px;
    background-color: #fff;
    padding: 0;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -ms-border-radius: 6px;
    border-radius: 6px;
    behavior: url(PIE.htc);
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.popup-container_video {
    min-width: 0;
    min-height: 0;
    width: 640px;
    height: 360px;
}
.popup-container_video_small {
    min-width: 0;
    min-height: 0;
    width: 640px;
    height: 360px;
}
.popup-container_bubble {
    width: auto;
    height: auto;
    min-width: 0;
    max-width: 100%;
    min-height: 0;
    position: absolute;
    right: auto;
    padding: 20px 24px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    behavior: url(PIE.htc);
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}
.popup-container_bubble:before {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    top: -13px;
    margin-left: -14px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 14px 13px 14px;
    border-color: transparent transparent #ffffff transparent;
}
.popup-container__header {
    font-size: 214%;
    position: absolute;
    top: -1.8em;
    left: 2px;
    margin-top: 0;
    color: #ffffff;
}
.popup-container__header_compact {
    font-size: 129%;
    top: -2.5em;
}
.popup-container__close-btn {
    font-size: 286%;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    position: absolute;
    top: -1.4em;
    right: 0.1em;
    color: #ffffff;
    cursor: pointer;
}
.popup-container__close-btn:hover {
    color: #d51521;
}
.g-hidden {
    display: none !important;
}
.g-opacity-animated {
    opacity: 0 !important;
}
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}
.fullscreen,
    .content-a {
        width:100%;
        min-height:100%;
    }
     .content-a {
        display:table;
    }
    .content-b {
        display:table-cell;
        vertical-align:middle;
        text-align:center;
    }
section {
        background:#000;
    }
